<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="transform: scale(1);">
	<div class="modal-dialog modal-dialog-centered" >
		<div class="modal-content" >
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h2>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-primary"
					data-bs-dismiss="modal"
					style="background-color: indianred ! important; border: 1px solid indianred"
					(click)="userConfirm()"
					>Delete
				</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
